/*Este es el css de la interfaz producto*/

body{
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}
#product-details-container{
	margin: inherit;
	padding: inherit;
}

#product-details{
	border-collapse: separate;
	border-spacing: 0;
	text-align: justify;
}

#detail-center{
	overflow: auto;
	word-wrap: break-word;
	max-height: 21em;
	margin-left: 1em;
}

#product-reviews{
	overflow: auto;
	word-wrap: break-word;
	max-height: 21em;
}

#product-image{
	margin-top: inherit;
	vertical-align: center;
	width: 320px;
	height: 240px;
}

#product-image:hover img {
	-webkit-transform:scale(1.20); /* Safari and Chrome */
	-moz-transform:scale(1.20); /* Firefox */
	-ms-transform:scale(1.20); /* IE 9 */
	-o-transform:scale(1.20); /* Opera */
	 transform:scale(1.20);
}

#product-options td{
	margin: inherit;
	padding: inherit;
	text-align: center;
	width: 30em;
}

#share{
	margin: 1em;
}

footer{
	background-color: #3366ff;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0;
}
