/*Este es el css de la interfaz producto*/

body{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}
#product-details-container{
	margin: inherit;
	padding: inherit;
}

#product-details{
	border: 3px solid;
	border-radius: 25px;
    border-collapse: separate;
    border-spacing: 0;
    margin: 1em;
    text-align: justify;
}

#detail-center{
	overflow: auto;
	word-wrap: break-word;
	max-height: 21em;
	border: 3px solid;
	border-bottom: 0;
	border-top: 0;
}

#product-reviews{
	overflow: auto;
	word-wrap: break-word;
	max-height: 21em;
}

#product-image{
	margin-top: inherit;
}

#product-options td{
	margin: inherit;
	padding: inherit;
	text-align: center;
	width: 30em;
}


footer{
	background-color: #3366ff; 
	text-align: center;
	color: #ffffff;
	margin-bottom: 0;
}
