<!DOCTYPE html>
<!--proyecto IHC-->

<html lang="en">
	<head>
		<meta chartset="utf-8">
		<title> AppBox </title>
		<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../css/principal.css">
	</head>
	<body>
		<header>
			<div class="Barra-encabezado">
					<a class="Barra-Registro" href="registro.html">	Registro </a>
					<a class="Barra-Login" href="login.html">Login </a>
					<a class="Barra-Ayuda" href="ayuda.html">Ayuda</a>
			</div>
			<div class="Logo-Nombre">
				<a class="logo" href="principal.html">
				<img src="../imagenes/logo-peq.jpg"></a>
			</div>
			<div class="Barra-Principal">
					<ul class="Barra-Prin-Opciones">
						<a href="principal.html"> Inicio</a>
						<a href="categoria.html">Software</a>
						<a href="contacto.html">Contacto</a>	
					</ul>
			</div>
		</header>
		<div class="Barra-Busqueda">
			<div class="buscador"> <input placeholder="Buscar..."><img src="../imagenes/buscar.jpg"></div>
		</div>			
		<div class="container">
			<div id="myCarousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="../imagenes/producto1.jpg" alt="Producto1">
					</div>
					<div class="item">
						<img src="../imagenes/producto2.jpg" alt="Producto2">
					</div>
					<div class="item">
						<img src="../imagenes/producto3.jpg" alt="Producto3">
					</div>
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control rigth" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
		<div class="Sugerencia-Productos">
			<div class="container">
				<div class="row">
					<div class="sugerencia">
						<img src="../imagenes/producto1.jpg">informacion<a href="producto.html"> leer mas</a>
					</div>
				</div>
				<div class="row">
					<div class="sugerencia">
						<img src="../imagenes/producto2.jpg">informacion<a href="producto.html"> leer mas</a>
					</div>
				</div>
				 <div class="row">
					<div class="sugerencia">
						<img src="../imagenes/producto3.jpg">informacion<a href="producto.html"> leer mas</a>
					</div>
				</div>
			</div>
		</div>
		<footer> 
			<ul class="Desarrolladores"> Desarrollado por
				<li>Javier Acosta</li>
				<li>Pedro Boll</li>
				<li>Maria Eugenia Pulido</li>
			</ul>
		</footer>
	</body>
</html>