<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"
	<meta name="description" content="Pagina web de venta de software">
    <meta name="author" content="Javier Acosta, Pedro Boll y Maria Pulido">
	<title>AppBox: Tu tienda de descarga de Software</title>
	<link rel="stylesheet" type="text/css" media= "screen" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-theme.css">
	<!-- Aqui ponemos nuestro css de estilo particular-->
	<link rel="stylesheet" type="text/css" href="../css/principal.css">
	<link rel="stylesheet" type="text/css" href="../css/shop-homepage.css">
</head>
<body>
	<header>
		<nav class= "navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<a id="logo" href="principal.html"><img src="../imagenes/Logo-peq.jpg">
						<!--el logo grande y el mediano se ven demasiado desproporcionados asi que me tome la libertad de poner el pequeño-->
						</a>		
					</div>
						<div class="navbar-header col-lg-3">
							 <div class="collapse navbar-collapse navbar-ex1-collapse">
          							<ul class="nav navbar-nav">
            							<li><a class="btn btn-default" href="registro.html">Registro</a></li>
            							<li><a class="btn btn-default" href="login.html">Login</a></li>
 							           	<li><a 
 							           	class="btn btn-default" href="ayuda.html">Ayuda</a></li>
 							        </ul>
        					</div>
        				</div>
        		</div>
        	</div>
        </nav>
	</header>
	
	<!-- Pestañas de navegacion-->

	<!--Borre tu clase Barra por un container y unas tabs para navegar, que creo era lo que querias-->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs nav-justifieds">
					<li class="active"><a href="principal.html"> Inicio</a></li>
					<li class="disabled"><a href="categoria.html">Software</a></li>
					<li class="disabled"><a href="contacto.html">Contacto</a></li>
				</ul>
			</div>	
		</div>
	</div>


	<!--Maru te pongo un container para que trabajes sobre el, pues adapte burda las cosas para que no tengas inconvenientes luego ;) by Peterjuse xD
	-->

	<div class="container">
		<hr>
			<!-- Corazon INSERTA TU CODIGO AQUI ;) -->
		<hr>
	</div>


	<footer>
		<div class="container">
			<div class="row">
		        <div class="col-lg-12">
		        	<a href="faq.html">Preguntas Frecuentes</a>
		           	<p>Desarrollado por:
		           	<h5><b>Javier Acosta - Pedro Boll - Maria Eugenia Pulido</b></h5>
		            Copyright &copy; AppBox 2015</p>
		       </div>
		    </div>
		</div>
	</footer>



	 <!-- jQuery -->
    <script src="../../source/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../source/bootstrap.min.js"></script>
    <script src="../../source/npm.js"></script>

</body>
<!--A pesar de todo Maru... te amo bebe <3 -->
</html>