<!DOCTYPE html>
<!--
Ampliar img onhover, (listo)
utilizar mas el azul, (listo)
remover borde redondeado, (listo)
ajustar segun login,(listo)
sociabilidad, (listo)
accesibilidad
	-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AppBox: Tu tienda de descarga de Software</title>
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-theme.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../css/producto.css"/>
		<!-- CSS para social -->
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../css/social.css">
		<!--<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
			<header>

		<!-- BARRA DE BUSQUEDA, LOGIN Y LOGO DE LA APP-->
		<nav class= "navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
					
					<!---Logo de la pagina-->
					<div class="col-lg-2 navbar-left">
						<a id="logo" href="principal.html"><img src="../imagenes/Logo-peq.png">
						</a>	
					</div>

					<!--Barra de busqueda-->
					<div class="col-lg-5">
						<form class="navbar-form" role="search">
							<div class="btn-group">
  								<button type="button" class="btn btn-default dropdown-toggle cate1" data-toggle="dropdown" aria-expanded="false">
    								Categorias<span class="categoria"></span> <span class="caret"></span>
  								</button>
  								<ul class="dropdown-menu" role="menu">
  									<li><a value="0" href="#" val>Todas las categorias</a></li>
 									<li class="divider"></li>
    								<li><a value="1" href="#" val>Oficina</a></li>
    								<li><a value="2" href="#">Moviles</a></li>
    								<li><a value="3" href="#">Internet</a></li>
    								<li><a value="4" href="#">Juegos</a></li>
    								<li><a value="5" href="#">Multimedia y Entretenimiento</a></li>
    								<li><a value="6" href="#">Chat y Redes Sociales</a></li>
    								<li><a value="7" href="#">Seguridad</a></li>
    								<li><a value="8" href="#">Desarrollo</a></li>
  								</ul>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar">
							</div>
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search blue"></span></button>
						</form>
					</div>

					<!-- Botones de Sesion-->
					<div class="navbar-header col-lg-5 navbar-right">
						<div class="btn-group" id="botones-user" role="group" aria-label="...">
  							<!--Boton desplegable de cuenta de usuario-->

							<button type="button" class="btn btn-default botonLogin" data-toggle="modal" data-target="#myModal1">Iniciar Sesion</button>

							<button type="button" class="btn btn-default botonReg" data-toggle="modal" data-target="#myModal2">Registrarse</button>

							<!--Boton de carrito de compras-->
  							<a class="btn btn-default" href="carrito.html">
  								<span class="glyphicon glyphicon-shopping-cart blue"></span> Carrito de compras
  							</a>
  					</div>		
				</div>
			</div>	
        </nav>
	</header>
		<!-- PESTAÑAS DE NAVEGACION-->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs nav-justifieds">
						<li><a href="principal.html"> <span class="glyphicon glyphicon-home blue"></span> Inicio </a></li>
						<li class="active">
							<a href="categoria.html"> <span class="glyphicon glyphicon-download blue"></span> Software</a>
						</li>
						<li><a href="contacto.html"><span class="glyphicon glyphicon-earphone blue"></span> Contacto</a></li>
						<li><a href="faq.html"> <span class="glyphicon glyphicon-question-sign blue"></span>&nbsp;Ayuda</a></li>
					</ul>
				</div>  
			</div>
		</div>
		<div class="container">
			<!-- Encabezado (Titulo) -->
			<div class="row">
				<div class="col-lg-9">
					<h1 class="page-header">Producto
						<small>a mostrar</small>
					</h1>
				</div>
			</div>
			<!-- /.row -->

			<!-- Item Row -->
			<div class="row" id="product-details">
				<!-- Item Image -->
				<div class="col-md-4" id="product-image">
					<!-- <img class="img-responsive" src="../imagenes/producto1.jpg" alt=""> -->
					<img class="img-responsive" src="http://placehold.it/320x240" alt="">
				</div>

				<div class="col-md-8" id="detail-center">
					<h3>Precio: $$$</h3>
					<h3>Descripci&oacute;n:</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
					<h3>Detalles:</h3>
					<ul>
						<li>Lorem Ipsum</li>
						<li>Dolor Sit Amet</li>
						<li>Consectetur</li>
						<li>Adipiscing Elit</li>
					</ul>
				</div>
				<!-- Item Reviews -->
			</div>			
			<!-- /.row -->
			<div class="row">
				<div id="share">
					Compartir via:
					<!-- Twitter -->
					<a href="#" title="Twitter" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
					 <!-- Facebook -->
					<a href="#" title="Facebook" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
					<!-- Google+ -->
					<a href="#" title="Google+" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
				</div>
				<div class="col-md-12" id="product-reviews">
					<h3>Rese&ntilde;as:</h3><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do euismod
					<br>
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					<br>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					<br>
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<br>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<br>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header"></h1>
				</div>
			</div>
			<!-- Fila de Botones -->
			<div class="row">
				<div class="btn-group btn-group-justified" role="group">
					<a href="#1" class="btn btn-default glyphicon glyphicon-chevron-left blue" role="button">
						Volver
					</a>
					<a href="#2" class="btn btn-default glyphicon glyphicon-shopping-cart blue" role="button">
						Agregar a carrito
					</a>
					<a href="#3" class="btn btn-default glyphicon glyphicon-plus-sign blue" role="button">
						Agregar a Lista de Deseos
					</a>
				</div>
			</div>
			<!-- /.row -->
			<!-- Separador del footer -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header"></h1>
				</div>
			</div>
		</div>

	<!--PIE DE PAGINA-->
	<footer>
		<div class="container">
			<div class="row">
		        <div class="col-lg-12">
		        	<p class="h5 text-center">Desarrollado por:</p>		           	
		           	<p><b>Javier Acosta - Pedro Boll - Maria Eugenia Pulido</b></p>	
		           	<p>Copyright &copy; AppBox 2015</p>
		       </div>
		    </div>
		</div>
	</footer>

	<!-- Modal Inicio sesion-->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title blue" id="myModalLabel">Inicio de Sesi&oacute;n</h2>
	      </div>
	      <div class="modal-body">
	        <div class="container">
	    		<div class="row">
	    			<div class="col-sm-4 columModal">
		    			<h3>Iniciar Sesi&oacute;n</h3>
						<form action="login">
							<div class="input-group input-group-sm mysize">						
								<p>Correo electr&oacute;nico o nombre de usuario:</p>
								<input type="text" id="user" class="form-control" placeholder="Ingrese su correo o usuario">
							</div>
							<br>
							<div class="input-group input-group-sm mysize">
								<p>Contrase&ntilde;a:</p>
								<input type="password" id="password" class="form-control" placeholder="Ingrese su contrase&ntilde;a">
							</div>
						</form>
					</div>
					<div class="col-sm-4 columModal">
						<div>
							<h3>Ingresa con tus redes sociales</h3>
							<!-- Twitter -->
							<br>
							<a href="#" title="Twitter" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
							<br>
							<!-- Facebook -->
							<br>
							<a href="#" title="Facebook" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
							<br>
							<!-- Google+ -->
							<br>
							<a href="#" title="Google+" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
							<br>
						</div>						
					</div>
	    		</div>
	    	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-info" id="login">Iniciar Sesi&oacute;n</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal Registro-->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title blue" id="myModalLabel">Registro</h2>
	      </div>
	      <div class="modal-body">
	     	<div class="container">
	    		<div class="row">
	    			<h3>Registrese en nuestros servicios</h3>
					<form action="register">
						<div class="input-group input-group-sm mysize">						
							<p>Nombre:</p>
							<input type="text" id="user" class="form-control" placeholder="Ingrese su nombre">
						</div>
						<br>
						<div class="input-group input-group-sm mysize">						
							<p>Apellido:</p>
							<input type="text" id="user" class="form-control" placeholder="Ingrese su apellido">
						</div>
						<br>
						<div class="input-group input-group-sm mysize">						
							<p>Correo electr&oacute;nico:</p>
							<input type="text" id="user" class="form-control" placeholder="Ingrese su correo electr&oacute;nico">
						</div>
						<br>
						<div class="input-group input-group-sm mysize">						
							<p>Seleccione un Usuario:</p>
							<input type="text" id="user" class="form-control" placeholder="Ingrese un usuario">
						</div>
						<br>
						<div class="input-group input-group-sm mysize">
							<p>Contrase&ntilde;a:</p>
							<input type="password" id="password" class="form-control" placeholder="Ingrese una contrase&ntilde;a">
						</div>
						<br>
						<div class="input-group input-group-sm mysize">
							<p>Repita la contrase&ntilde;a:</p>
							<input type="password" id="password" class="form-control" placeholder="Ingrese nuevamente la contrase&ntilde;a">
						</div>
					</form>
	    		</div>
	    	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-info" id="signin" href="perfil.html">Registrar</button>
	      </div>
	    </div>
	  </div>
	</div>v>

	 <!-- jQuery -->
    <script src="../../sources/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../sources/bootstrap.min.js"></script>
    <script src="../../sources/npm.js"></script>

    <!-- Scripts customs -->
    <script type="text/javascript" src="../../sources/funciones_index.js"></script>

</body>
</html>