<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Página web de venta de software">
    <meta name="author" content="Javier Acosta, Pedro Boll y Maria Pulido">
	
	<title>AppBox: Tu tienda de descarga de Software</title>

	<!-- CSS BOOTSTRAP-->
	<link rel="stylesheet" type="text/css" media= "screen" href="../views/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../views/css/bootstrap-theme.min.css">
	
	<!-- CSS CUSTOM-->
	<link rel="stylesheet" type="text/css" href="../views/css/index.css">

</head>
<body>
	<header>

		<!-- BARRA DE BUSQUEDA, LOGIN Y LOGO DE LA APP-->
		<nav class= "navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
					
					<!---Logo de la pagina-->
					<div class="col-lg-2 navbar-left">
						<a id="logo" href="principal.html"><img src="../views/imagenes/Logo-peq.png">
						</a>	
					</div>

					<!--Barra de busqueda-->
					<div class="col-lg-5">
						<form class="navbar-form" role="search">
							
							<div class="btn-group">
  								<button type="button" class="btn btn-default dropdown-toggle cate1" data-toggle="dropdown" aria-expanded="false">
    								Categorias<span class="categoria"></span> <span class="caret"></span>
  								</button>
  								<ul class="dropdown-menu" role="menu">
  									<li><a value="0" href="#" val>Todas las categorias</a></li>
 									<li class="divider"></li>
    								<li><a value="1" href="#" val>Ofimatica y Oficina</a></li>
    								<li><a value="2" href="#">Moviles</a></li>
    								<li><a value="3" href="#">Internet</a></li>
    								<li><a value="4" href="#">Juegos</a></li>
    								<li><a value="5" href="#">Multimedia y Entretenimiento</a></li>
    								<li><a value="6" href="#">Chat y Redes Sociales</a></li>
    								<li><a value="7" href="#">Seguridad</a></li>
    								<li><a value="8" href="#">Desarrollo</a></li>
  								</ul>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar">
							</div>
							<button type="submit" class="btn btn-default"><span class="yphicon glyphicon-search blue"></span></button>
						</form>
					</div>

					<!-- Botones de Sesion-->
					<div class="navbar-header col-lg-5 navbar-right">
						<div class="btn-group" role="group" aria-label="...">
  							<!--Boton desplegable de cuenta de usuario-->

							<a class="btn btn-default" href="login.html">Iniciar Sesion</a>

							<a class="btn btn-default" href="registro.html">Registrarse</a>
								
							<!--
  							<div class="btn-group">	
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								    Mi AppBox <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="registro.html">Registrate</a></li>
								    <li><a href="login.html">Iniciar Sesion</a></li>
								    <li class="divider"></li>
								    <li><a href="#">Tus Ordenes</a></li>
								    <li><a href="#">Tu Cuenta</a></li>
								    <li><a href="#">Lista de Deseos</a></li>
								</ul>
							</div>
							-->

							<!--Boton de carrito de compras-->
  							<a class="btn btn-default">
  								<span class="glyphicon glyphicon-shopping-cart blue"></span> Carrito de compras
  							</a>
  					</div>		
				</div>
			</div>	
        </nav>
	</header>
	
	<!-- PESTAÑAS DE NAVEGACION-->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs nav-justifieds">
					<li class="active">
						<a href="principal.html">
							<span class="glyphicon glyphicon-home blue"></span>
							Inicio
						</a>
					</li>
					<li><a href="categoria.html">Software</a></li>
					<li><a href="contacto.html">Contacto</a></li>
					<li><a href="faq.html">Ayuda</a></li>
				</ul>
			</div>	
		</div>
	</div>

	<!--CENTRO DE LA PAGINA-->
	<div class="container">
		<hr>
			<!--AQUI VA EL CODIGO DEL CONTEXTO-->
		<hr>
	</div>


	<!--PIE DE PAGINA-->
	<footer>
		<div class="container">
			<div class="row">
		        <div class="col-lg-12">
		        	<a class="h5 text-center" href="faq.html">Preguntas Frecuentes</a>
		           	<p>Desarrollado por:
		           		<b>Javier Acosta - Pedro Boll - Maria Eugenia Pulido</b>
		           	</p>
		           	<p>Copyright &copy; AppBox 2015</p>
		       </div>
		    </div>
		</div>
	</footer>



	 <!-- jQuery -->
    <script src="../../sources/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../sources/bootstrap.min.js"></script>
    <script src="../../sources/npm.js"></script>

    <!-- Scripts customs -->
    <script type="text/javascript" src="../../sources/funciones_index.js"></script>

</body>
</html>